.btn-hidden{
    display: none;
}

.panel-heading:hover .btn-hidden{
    display: inline;
    margin-left: 3px;
}

/*.panel-body:hover .btn-hidden{
    display: inline;
    margin-left: 3px;
}

createContactDetailBtn
dats1*/

.panel-body .dats1:hover .btn-hidden{
    display: inline;
    margin-left: 3px;
}

.panel-body .dats01:hover .btn-hidden{
    display: inline;
    margin-left: 3px;
    margin-top: 3px;
}

.row.match-my-cols {
    overflow: hidden;
}


div:after {
  content: '';
  display: block;
  clear: both;
}

.modal.modal-wide .modal-dialog {
  width: 70%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
